#chat3 .form-control {
  border-color: none !important;
  }
  
  #chat3 .form-control:focus {
  border-color: none !important;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -.75rem;
  }
  .chat-heads-section{
    height: 65vh;
    overflow-y: auto;
  }
  .chat-container-section{
    height: calc(65vh - 2px);
    overflow-y: none;
  }