.bg-footer {
  background: #2e3538;
  padding: 60px 0;
  position: relative;
  font-size: 14px;
}

.footer-social-menu li a {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer-social-menu li a:hover {
  background-color: #fff;
  color: #766df4;
  border-color: #fff;
}

.footer-list li a {
  display: inline-block;
  padding-bottom: 16px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer-list li a:hover {
  color: #fff;
  letter-spacing: 0.4px;
}

.footer-alt {
  background: #2e3538;
  padding: 20px 0px;
  border-top: 1px solid #343c3f;
}
