.profile {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 3px #12151b29;
  padding: 32px;
}
.profile-img {
  width: 250px;
  height: 250px;
  overflow: hidden;
  padding: 0px 16px;
}
.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
}
.profile-user-personal-details ul,
.profile-user-personal-details li {
  list-style: none;
  padding: 10px 0px;
  border: none !important;
}
.ratingProfile,
.rating-Profile {
  font-size: 22px;
}
.ratingProfile svg {
  margin: 0px 2px;
}
.emptySymbol {
  color: #bcc5d3;
}
.fullSymbol {
  color: var(--main-color);
}
.ai-dollar-icon {
  color: var(--main-color);
  font-size: 24px;
}
.profile-bottom-section{
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 3px #12151b29;
  padding: 32px;

}
.bottom-section-rhs-title{
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  border-bottom: solid 1px var(--bg-color);
  padding-bottom: 8px;
}
.verfiryIcon svg{
  color: var(--main-color);
  font-size: 22px;
}