.card-image{
  max-width: 60px;
  max-height: 60px;
  position: absolute;
  top: 0%;
  right: 0%;
}
.card-job-time {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.27px;
  line-height: 19px;
}
.job-second-line{
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.27px;
  line-height: 19px;
}
.job-type{
  font-size: 12px;
  font-weight: 600;
  background-color: #EBEDF0;
  padding: 2px 4px;
  width: max-content;
  border-radius: 8px;
}