.UsersReviewsHeader {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  color: var(--main-color);
  text-transform: capitalize;
  text-align: center;
}
.UsersReviewsTxt p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  text-transform: capitalize;
  color: var(--main-color);
  padding: 25px 50px;
  border: var(--main-color) 1px solid;
  border-radius: 10px;
  margin: auto;
}
.UsersReviewsTxt p:nth-child(2){
  padding: 35px;
}
.UsersReviewsBigTxt{
  background-color: #0055D9;
  border-radius: 10px;
}
.UsersReviewsBigTxt p {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 52px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 15px 30px;
}
