/* .jobCard {
  background-color: #ffff !important;
  padding: 18px 20px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 1px 3px #12151b29;
}
.JobcardFooter{
  height: 40px !important;
}
.JobcardBody{
  height: 100px !important;
}
.jobHeaderImage {
  width: 100px !important;
}
.jobHeaderImg {
  width: 100% !important;
  border-radius: 12px !important;
}
.JobcardBodyTitle h2 {
  font-size: 22px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  margin-bottom: 2px !important;
}
.jobTimeFrom {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  color: black;
  margin-top: 0px;
}
.JobcardTypeBadge {
  background-color: #ebedf0;
  color: #001433;
  padding: 8px 10px !important;
  border-radius: 8px;
  font-size: 14px !important;
}
.JobcardSkillsBadge {
  background-color: #e1ebfb !important;
  color: var(--main-color) !important;
  padding: 8px 10px !important;
  border-radius: 8px;
}
.jobCardPrice p:first-child {
  font-size: 22px !important;
  font-weight: 600 !important;
  line-height: 22px !important;
}
.jobCardBodyPublisher {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.27px;
  line-height: 19px;
  color: #001433;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.jobCardBodyLocation {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.27px;
  line-height: 19px;
}
.jobCardBookmark{
  color: #000;
  width: 45px;
  height: 45px;
  font-size: 24px !important;
  position: absolute;
  top: 8px;
  right: -12px;
}
.footerApplyBtn{
  background-color: var(--main-color) !important;
  color: #fff !important;
  border-radius: 8px !important;
  padding: 8px 0px;
}
.footerApplyBtn:hover{
  background-color: transparent !important;
  color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
}
.footerMsgBtn{
  background-color: transparent !important;
  color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
  border-radius: 8px !important;
  padding: 8px 0px;
}
.footerMsgBtn:hover{
  background-color: var(--main-color) !important;
  color: #fff !important;
}

 */
/* New Job Card Css */
.job-card {
	background: #fff;
	margin-bottom: 25px;
	border-radius: 5px;
	overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 1px 3px #12151b29;
}
.job-card__content {
	padding: 25px;
}
.job-card__content-top {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
.job-card__content-top .job-card_img {
	margin-right: 25px;
}
.job-card__content-top .job-card_img img {
	height: 75px;
	width: 75px;
	object-fit: contain;
	border-radius: 8px;
}
.job-card__content-top .job-card_info {
	flex: 1;
}
.job-card__content-top .job-card_info a {
	color: #113357;
}
.job-card__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 25px;
	background: #fafafa;
}

.job-label {
	display: inline-block;
	padding: 6px 12px;
	background: #f1f4f7;
	border-radius: 5px;
	margin-right: 2px;
	margin-top: 15px;
}
.job-type{
  color: var(--main-color) !important;
  background-color: #e1ebfb !important
}
.footerApplyBtn{
  background-color: var(--main-color) !important;
  color: #fff !important;
  border-radius: 8px !important;
  padding: 8px 16px;
}
.footerApplyBtn:hover{
  background-color: transparent !important;
  color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
}
