.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.section-title .title {
  font-size: 30px;
  line-height: 1.375;
}
a{
  text-decoration: none !important;
}
.purbleBtn{
  background-color: #766df4 !important;
  border: none !important;
  padding: 0.8rem 1.6rem !important;
  border-radius: 0.25rem !important;
}
.purbleTxt{
  color: #766df4 !important;
}